
.post-img{
    height: 404px;
    overflow: hidden;

}
.post-img img{
    width: 100%;
}
.blog-post-content{
    width: 60vw;
    margin: auto;
   /* background-color: brown;*/
    text-align: center;
    margin-top: 15px;
    font-family: "Baloo 2", sans-serif;
   
}
.row{
    display: flex;
    
}
.more{
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
}
.blogpost-meta {
    display: flex;
  /* background-color: brown;*/
    justify-content: space-between;
}
.author-info{
    margin: 12px 0;
    font-family: "Roboto", sans-serif
    
}
.author-info div{
    padding: 4px 12px;
    
}
.april{
    padding-left: 0px;
    text-align: left;
   
}
.social {
    padding-right: 53px;
    align-self: center;
}